* {
  /* overflow-x: hidden; */
  padding: 0px !important;
  margin: 0px !important;
}

.pic{
    margin: auto;
    margin-bottom: 1%;
    width: 225px;
    height: auto;
    border: 7px solid lightblue;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.photo {
  width: 40%;
  height: 400%;
  background: url("adrian.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 60%;
  right: 14%;
  padding-right: 5%;
  border: 10px solid rgba(166,166,164,1);
  overflow: hidden;
}

.nameFrame {
  width: 120%;
  height: 90%;
  background: rgba(232,232,232,1);
  position: relative;
  left: 14%;
  top: 60%;
  border: 5px solid rgba(166,166,164,1);
  text-align: center;
}
.nameFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 300%;
  
}

.aboutMeFrame {
  width: 120%;
  height: 400%;
  background: rgba(232,232,232,1);
  position: absolute;
  top: 200%;
  left: 14%;
  border: 5px solid rgba(166,166,164,1);
  text-align: left;
  overflow: hidden;
}
.aboutMeFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
}

.workExperienceFrame {
  width: 120%;
  height: 236px;
  background: rgba(232,232,232,1);
  position: absolute;
  top: 650%;
  left: 14%;
  border: 5px solid rgba(166,166,164,1);
  text-align: left;
  overflow: hidden;
}
.workExperienceFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
}

.skillsFrame {
  width: 120%;
  height: auto;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 980%;
  left: 14%;
  border: 5px solid rgba(166,166,164,1);
  text-align: left;
  overflow: hidden;
}
.skillsFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
  
}





.educationFrame {
  width: 40%;
  height: 250px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 500%;
  right: 14%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
  text-align: center;
}
.educationFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
  
}

.languageFrame {
  width: 40%;
  height: 100px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 860%;
  right: 14%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
  text-align: left;
}
.languageFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
  
}

.contactsFrame {
  width: 40%;
  height: 40px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 1000%;
  right: 14%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
  text-align: center;
}
.contactsFont {
  color: rgba(63,44,38,1);
  font-family: Roboto;
  
}

/* 
.container-fluid {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  align-items: center;
  top: 10%;
  position: absolute;
} */
/* .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 5%;
  padding-right: 5%;
  width: auto;
  padding-top: 5%;
} */
/* .col {
  display: inline-block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 2%;
} */


.contactsFrame2 {
  width: 45%;
  height: auto;
  background: rgba(232,232,232,1);
  position: absolute;
  top: 30px;
  left: 25%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
  text-align: center;
}
.contactsFont2 {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 45px;
}

.gitlabFrame {
  max-width: 60%;
  width: auto;
  height: 69px;
  background: rgba(232,232,232,1);
  text-align: center;
  position: absolute;
  top: 110px;
  left: 20%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.gitlabFont {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
}
.gitImage {
  width: 44px;
  height: 47px;
  background: url("./images/v14_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 115px;
  left: 11%;
  overflow: hidden;
}

.instaFrame {
  max-width: 60%;
  width: auto;
  height: 69px;
  background: rgba(232,232,232,1);
  text-align: center;
  position: absolute;
  top: 200px;
  left: 10%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.instaFont {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
}
.instagramImage {
  width: 46px;
  height: 45px;
  background: url("./images/v14_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 205px;
  left: 0%;
  overflow: hidden;
}

.linkedinFrame {
  max-width: 60%;
  width: auto;
  height: 69px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 290px;
  left: 20%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
  text-align: center;
}
.linkedinFont {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
}
.linkedinImage {
  width: 56px;
  height: 57px;
  background: url("./images/v14_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 295px;
  left: 11%;
  overflow: hidden;
}

.phoneFrame {
  max-width: 60%;
  width: 45%;
  height: 69px;
  background: rgba(232,232,232,1);
  text-align: center;
  position: absolute;
  top: 380px;
  left: 10%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.phoneFont {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
}
.phoneImage {
  width: 48px;
  height: 52px;
  background: url("./images/v14_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 385px;
  left: 0%;
  overflow: hidden;
}

.emailFrame {
  max-width: 60%;
  width: 45%;
  height: 69px;
  background: rgba(232,232,232,1);
  text-align: center;
  position: absolute;
  top: 470px;
  left: 20%;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.emailFont {
  color: rgba(64,44,39,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
}
.emailImage {
  width: 55px;
  height: 56px;
  background: url("./images/v14_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 475px;
  left: 11%;
  overflow: hidden;
}


.whatsappFrame {
  width: 300px;
  height: 300px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 641px;
  left: 585px;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.telegramFrame {
  width: 300px;
  height: 300px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 641px;
  left: 1035px;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}
.lineFrame {
  width: 300px;
  height: 300px;
  background: rgba(232,232,232,1);
  
  position: absolute;
  top: 639px;
  left: 134px;
  border: 5px solid rgba(166,166,164,1);
  overflow: hidden;
}









.lineImage {
  width: 283px;
  height: 281px;
  background: url("./images/v14_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 648px;
  left: 142px;
  overflow: hidden;
}
.whatsappImage {
  width: 281px;
  height: 281px;
  background: url("./images/v14_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 649px;
  left: 593px;
  overflow: hidden;
}
.telegramImage {
  width: 279px;
  height: 284px;
  background: url("./images/v14_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 648px;
  left: 1045px;
  overflow: hidden;
}
