{% extends 'base.html' %}

{% load static %}

{% block content %}

    <body>
        <h1>Profile | Story 1</h1>

        <div align="center" >
            <img class="pic" src="{% static 'adrian.jpg' %}">
        </div>
        
        
        <div id="bio">
            <div style="text-align: center;">   
                <h1>Adrian Chandra Rachman</h1>
                <h2>Information Systems 2019</h2>
                <h2>University of Indonesia</h2>
                <h3>1906399575</h3>
            </div>

            <dl>
                <dt><b>Hobbies:</b></dt>
                <dd><li>Table Tennis</li></dd>
                <dd><li>Reading</li></dd>
                <dd><li>Baking</li></dd>
                <dd><li>Brewing Coffee</li></dd>
                <dd><li>Playing Online Games</li></dd>
            </dl>

            <dl>
                <dt><b>Education:</b></dt>
                <dd><li>SMP Cenderawasih 1 (2013 - 2016)</li></dd>
                <dd><li>SMAN 70 Jakarta (2016 - 2019)</li></dd>
                <dd><li>University of Indonesia (2019 - Present)</li></dd>
            </dl>

            <b>Desc:</b><br>
                I'm a Information Systems student in the <br>
                Faculty of Computer Science at the University <br>
                of Indonesia. I plan on building my own business <br>
                when i'm done with university or perhaps when i'm still <br>
                studying. I'm hard working, kind, and love to work in teams.<br>

            <br><b>Social Media:</b><br>
            https://www.linkedin.com/in/adrian-chandra-rachman-883b6a1a3/ <br>
            https://www.instagram.com/adriancrachman/?hl=id <br>

        </div>

    </body>
{% endblock %}
