{% extends 'base.html' %}

    {% block content %}

    <body style="background-color:  rgba(98,82,97,1);">
        <div class = "container-fluid">
            <div class="row">
                
                <div class="col-6">
                    <div class="nameFrame">
                        <span class="nameFont">Adrian Chandra Rachman</span>
                    </div>
                    
                    <div class="aboutMeFrame">
                        <span class="aboutMeFont">
                        <b>About me :</b><br>
                        My name is Adrian. I’m a student of the Faculty of Computer Science majoring in Information Systems.
                        </span>
                    </div>
                    
                    <div class="workExperienceFrame">
                        <span class="workExperienceFont">
                        <b>Work Experience :</b><br>
                        Mentor for DDP0: I taught programming with python to the freshman of Fasilkom UI.
                        </span>
                    </div>
                    
                    <div class="skillsFrame">
                        <span class="skillsFont">
                        <b>Skillsets & Tools :</b><br>
                        Excel, Python (Programming Language), Word, Java (Programming Language), Powerpoint, Table Tennis (Sport).
                        </span>
                    </div>
                    
                </div>

                <div class="col-sm">
                    <div class="photo"></div>

                    <div class="educationFrame">
                        <span class="educationFont">
                        <b>Education:</b><br>
                        University of Indonesia 
                        (2019 - Present) <br>
                        SMAN 70 Jakarta
                        (2016 - 2019) <br>
                        SMP Cenderawasih 1
                        (2013 - 2016)<br>
                        </span>
                    </div> 
                    
                    <div class="languageFrame">
                        <span class="languageFont">
                        <b>Language Proficiency :</b><br>
                        - English (Professional) <br>
                        - Indonesian (Native)
                        </span>
                    </div>
                    
                    <a href="{% url 'homepage:contacts' %}">
                    <div class="contactsFrame">
                        
                        <span class="contactsFont"><b>Contacts</b></span>
                    </div>
                    </a>
                   
                    
                </div>

            </div>
        </div>
    </body>

    {% endblock %}
